html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.home-container {
  width: 100vw;
  height: 400vh;
  display: flex;
  flex-direction: column;
  background: #000;
}
