/* src/pages/index.css */
.third-screen-container {
  position: relative;
  height: 100vh; /* 화면의 높이를 100%로 설정 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  background: url('@/assets/images/space_v.png') center/cover no-repeat;
  font-family: 'SejongGeulggot', sans-serif;
}

.text-container {
  position: absolute;
  top: 18%;
  text-align: center;
  color: white; /* 텍스트 색상 */
}

.text-container h1 {
  font-size: 1.4rem; /* 제목 크기 */
  font-weight: bold; /* 두껍게 */
}

.text-container p {
  font-size: 1.1rem; /* 본문 크기 */
  margin-top: 10px; /* 제목과 본문 간격 */
  font-weight: 600;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.down-arrow,
.top-arrow {
  position: absolute;
  width: 40px; /* 버튼 크기 */
  cursor: pointer; /* 커서 스타일 */
  transition: transform 1s; /* 마우스 오버 시 애니메이션 */
}

.down-arrow:hover,
.top-arrow:hover {
  transform: scale(1.1); /* 마우스 오버 시 크기 증가 */
}
