.third-screen-container {
  position: relative;
  height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('@/assets/images/space_v.png') center/cover no-repeat;
  font-family: 'SejongGeulggot', sans-serif;
}

.text-container {
  position: absolute;
  top: 18%;
  text-align: center;
  color: white;
}

.text-container h1 {
  font-size: 1.4rem;
  font-weight: bold;
}

.text-container p {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.down-arrow,
.top-arrow {
  position: absolute;
  width: 40px;
  cursor: pointer;
  transition: transform 1s;
}

.down-arrow:hover,
.top-arrow:hover {
  transform: scale(1.1);
}
